* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font-size: 1rem;
}
#app {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  border: 0.0267rem solid black;
  position: relative;
}
#app a {
  color: #333;
  text-decoration: none;
}
#app header {
  width: 100%;
  text-align: center;
}
#app header .log {
  width: 100%;
  font-size: 50px;
}
#app nav {
  width: 100%;
}
#app nav .top-nav {
  height: 2.1333rem;
}
#app nav .top-nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
#app nav .top-nav ul li {
  height: 1.3333rem;
  line-height: 1.3333rem;
  font-size: 1.25rem;
  padding: 0.1333rem 0.2667rem;
  margin-left: 0.2667rem;
  border-bottom: 0.0533rem solid #fff;
}
#app nav .top-nav ul li:hover {
  border-bottom: 0.0533rem solid green;
}
#app nav .top-nav ul li .active {
  border-bottom: 0.0533rem solid green;
}
#app .main {
  width: 18.6667rem;
  margin: 0 auto;
  border: 1px solid black;
}
#app .main .time {
  font-size: 0.6667rem;
  text-align: center;
}
#app .main .live {
  border: 1px solid black;
  display: flex;
}
#app .main .live .live-left {
  width: 9.3333rem;
  padding: 0.2667rem 0.2667rem;
  background-color: pink;
  text-align: center;
}
#app .main .live .live-left .live-number {
  font-size: 4.6667rem;
  font-weight: 600;
}
#app .main .live .live-left .live-time {
  font-size: 1rem;
}
#app .main .live .live-history {
  text-align: center;
  font-size: 0.64rem;
  width: 50%;
}
#app .main .live .live-history .text {
  font-size: 1.0667rem;
}
#app .main .live .live-history .text span {
  color: red;
  font-weight: 900;
}
#app .main .live .live-history li {
  padding: 0.2667rem;
}
#app .main .live .live-history li .time {
  font-size: 0.8rem;
  background-color: yellow;
}
#app .main .live .live-history li .result {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: blue;
}
#app .main .live .live-history li .result .num {
  font-size: 1.0667rem;
  color: red;
  font-weight: 600;
}
#app .main .live .live-history li .result .se,
#app .main .live .live-history li .result .val {
  height: 1.6667rem;
  line-height: 1.6667rem;
}
#app .main .main-btn {
  margin-top: 0.2667rem;
  display: flex;
  justify-content: space-around;
}
#app .main .main-btn button {
  font-size: 0.8rem;
}
#app .main .bet ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#app .main .bet ul li {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.1333rem 0.2667rem;
  font-size: 0.6667rem;
  margin: 0.2133rem;
  background-color: #fff;
  transition: background-color 0.1s ease, color 0.1s ease;
}
#app .main .bet ul .active {
  background-color: green;
}
#app .main .cash {
  margin: 0 auto;
  padding: 0.5333rem;
  width: 13.3333rem;
  height: 8.6667rem;
  border-radius: 1.3333rem;
  border: 1px solid black;
}
#app .main .cash .config,
#app .main .cash .total,
#app .main .cash .win,
#app .main .cash .amount,
#app .main .cash .count {
  font-size: 0.6667rem;
}
#app .main .cash .config {
  display: block;
  margin: 0.2667rem auto;
  width: 4.6667rem;
}
#app .main .cash .amount input {
  font-size: 0.6667rem;
}
#app .main .cash .amount .amount-btn {
  margin-top: 0.2667rem;
}
#app .main .cash .amount .amount-btn button {
  font-size: 0.48rem;
}
#app footer {
  max-width: 750px;
  min-width: 320px;
  margin-top: 2.6667rem;
  width: 100%;
}
#app footer .footer-nav {
  background-color: greenyellow;
  position: fixed;
  bottom: 0;
  height: 1.3333rem;
  max-width: 750px;
  min-width: 320px;
  width: 100%;
}
#app footer .footer-nav ul {
  height: 100%;
  line-height: 100%;
  display: flex;
  max-width: 750px;
  min-width: 320px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
}
