* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}
html {
  font-family: "Noto Sans", "Noto Sans SC", "Noto Sans Myanmar", Arial, "Microsoft YaHei", "Myanmar Text", sans-serif;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
    background-color: #FFF9F0;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font-size: 1rem;
}
#app {
  max-width: 750px;
  min-width: 320px;
  background-color: #FFF9F0;
  margin: 0 auto;
  position: relative;
}
#app a {
  color: #333;
  text-decoration: none;
}
#app header {
  width: 100%;
  height: 2.1333rem;
  line-height: 2.1333rem;
  text-align: center;
  background-color: #D0021B;
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
}
#app header .log {
  width: 100%;
  color: #F5A623;
  font-size: 1.6rem;
  font-weight: 900;
}
#app nav {
  width: 100%;
}
#app nav .top-nav {
  height: 2.1333rem;
}
#app nav .top-nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5333rem;
}
#app nav .top-nav ul li {
  height: 1.6333rem;
  line-height: 1.3333rem;
  font-size: 1.0667rem;
  padding: 0.1333rem 0.2667rem;
  margin-left: 0.2667rem;
  border-bottom: 0.16rem solid #fff;
}
#app nav .top-nav ul .anv-active {
  border-bottom: 0.16rem solid #F5A623;
}
#app nav .top-nav ul .anv-active a {
  color: #D0021B;
}
#app nav select {
  width: 2.6667rem;
  height: 1.15rem;
  line-height: 0.8rem;
  font-size: 0.5333rem;
  text-align: center;
  position: absolute;
  right: 0.2667rem;
  top: 2.5333rem;
}
#app .main {
  width: 18.6667rem;
  margin: 0 auto;
}
#app .main .time-out {
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  margin: 0.5333rem auto;
  font-size: 0.8rem;
  text-align: center;
  background-color: #F5A623;
  width: 70%;
  padding: 0.2667rem 0.2667rem;
  border-radius: 1.0667rem;
}
#app .main .live {
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  height: 11.4333rem;
  display: flex;
}
#app .main .live .live-left {
  width: 9.3333rem;
  padding: 0.2667rem 0.2667rem;
  background-color: #F5A623;
  text-align: center;
}
#app .main .live .live-left .live-number {
  font-size: 6.6667rem;
  font-weight: 900;
  color: #D0021B;
}
#app .main .live .live-left .live-time {
  font-size: 0.6667rem;
  color: #FFF9F0;
}
#app .main .live .live-left .live-time a {
  color: #FFF9F0;
}
#app .main .live .live-history {
  text-align: center;
  font-size: 0.64rem;
  width: 50%;
  background-color: #D0021B;
}
#app .main .live .live-history .text {
  font-size: 0.9667rem;
}
#app .main .live .live-history .text span {
  color: #F5A623;
  font-weight: 900;
}
#app .main .live .live-history li {
  padding: 0.2667rem;
}
#app .main .live .live-history li .time {
  font-size: 0.8rem;
  background-color: #ccc;
}
#app .main .live .live-history li .result {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #F5A623;
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
}
#app .main .live .live-history li .result .num {
  font-size: 1.0667rem;
  color: #D0021B;
  font-weight: 600;
}
#app .main .live .live-history li .result .se,
#app .main .live .live-history li .result .val {
  height: 1.6667rem;
  line-height: 1.6667rem;
}
#app .main .live .live-history li:nth-child(2) {
  margin-top: 0.2667rem;
}
#app .main .main-btn {
  margin-top: 0.2667rem;
  margin-bottom: 0.2667rem;
  display: flex;
  justify-content: space-around;
}
#app .main .main-btn button {
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  font-size: 0.8rem;
  padding: 0.1333rem 0.5333rem;
  color: #D0021B;
  border: 0.1067rem solid #C0392B;
  border-radius: 1.0667rem;
  background-color: #FFF9F0;
}
#app .main .main-btn button.active {
  color: #F5A623;
  border: 0.1067rem solid #C0392B;
  background-color: #D0021B;
  border-radius: 1.0667rem;
}
#app .main .main-btn button:active {
  color: #F5A623;
  border: 0.1067rem solid #C0392B;
  background-color: #D0021B;
  border-radius: 1.0667rem;
}
#app .main .bet ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#app .main .bet ul li {
  cursor: pointer;
  border: 1px solid #F5A623;
  color: #F5A623;
  padding: 0.1333rem 0.2667rem;
  font-size: 0.8rem;
  margin: 0.1533rem;
  background-color: #FFF9F0;
  transition: background-color 0.1s ease, color 0.1s ease;
}
#app .main .bet ul .active {
  background-color: #D0021B;
}
#app .main .cash {
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  margin: 0 auto;
  padding: 0.5333rem;
  width: 17.3333rem;
  height: 10.6667rem;
  border-radius: 1.3333rem;
  border: 1px solid black;
}
#app .main .cash .config,
#app .main .cash .total,
#app .main .cash .win,
#app .main .cash .amount,
#app .main .cash .count {
  font-size: 0.9333rem;
}
#app .main .cash .config {
  display: block;
  margin: 0.2667rem auto;
  box-shadow: 0 0.16rem 0.2667rem rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  font-size: 1rem;
  padding: 0.1333rem 1.0667rem;
  background-color: #D0021B;
  color: #F5A623;
  border: 0.1067rem solid #F5A623;
}
#app .main .cash .config:active {
  background-color: #C0392B;
}
#app .main .cash .amount input {
  font-size: 0.8rem;
  border-radius: 0.5333rem;
  padding-left: 0.5333rem;
  border: 0.0533rem solid #D0021B;
  width: 5rem;
}
#app .main .cash .amount .amount-btn {
  margin-top: 0.2667rem;
}
#app .main .cash .amount .amount-btn button {
  font-size: 0.8rem;
  border: 0.1067rem solid #D0021B;
  padding: 0 0.5333rem;
  border-radius: 0.5333rem;
  background-color: #FFF9F0;
}
#app .main .cash .amount .amount-btn button:active {
  background-color: #D0021B;
  color: #F5A623;
}
#app .note {
  background-color: #3C3C3C;
  font-size: 0.8rem;
  padding: 0.1333rem 0.8rem;
  border-radius: 0.8rem;
  color: #fff;
  width: 7rem;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#app footer {
  max-width: 750px;
  min-width: 320px;
  margin-top: 2.6667rem;
  width: 100%;
}
#app footer .footer-nav {
  background-color: #FFF9F0;
  border-top: 0.0533rem solid #D0021B;
  position: fixed;
  bottom: 0;
  height: 2.3333rem;
  max-width: 750px;
  min-width: 320px;
  width: 100%;
}
#app footer .footer-nav ul {
  height: 100%;
  line-height: 100%;
  display: flex;
  max-width: 750px;
  min-width: 320px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
}
#app footer .footer-nav ul .active a {
  color: #D0021B;
  font-weight: 900;
}
